<div>
  <h2>Add Extract</h2>
  <form (ngSubmit)="onSubmit()" #extractForm="ngForm">

    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" class="form-control" id="description" name="description" [(ngModel)]="model.description" required>
    </div>
  
    <div class="form-group">
      <label for="value">Value:</label>
      <input type="number" class="form-control" id="value" name="value" [(ngModel)]="model.value" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
